<h1>Insert the form to edit an instance of your model here.</h1>
<h3>Edit for: <%= @user.name %></h3>
<h3>Edit for: <%= @user.email %></h3>

<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="user[name]" />
  <input type="text" name="user[email]" />

  <input type="submit" value="update">
</form>
