<h1>Sign-Up to TODO app</h1>
<h1></h1>
<br />
<form action="/signup" method="POST">
  <p>
  <label for="name">Name: </label>
    <input type="text" name="user[name]" placeholder="Name:">
  </p>
<br />
  <p>
  <label for="email">Email: </label>
    <input type="text" name="user[email]" placeholder="Email:">
  </p>
  <br />
  <p>
    <label for="password">Password:  </label>
      <input type="text" name="user[password]" placeholder="Password:">
    </p>
  <br />
  <input type="submit" value="Sign-Up">
</form>
