<!-- <h1>This is the show page for an individual instance of your model.</h1>
<h1></h1> -->
<h3>Welcome to Your profile page</h3>

<h3><%=current_user.name%></h3>

<h3><%=current_user.email%></h3>

  <p>
  <a href="/users/<%=@user.id%>/edit">Edit profile </a>
  </p>
