<h1>Sign-In to TODO app</h1>
<h1></h1>
<br />
<form action="/signin" method="POST">
  <p>
  <label for="name">Username: </label>
    <input type="text" name="username" placeholder="Username:">
  </p>
<br />
<p>
  <label for="password">Password:  </label>
    <input type="text" name="password" placeholder="Password:">
  </p>
<br />
  <input type="submit" value="Sign-In">
</form>
