<h1>Insert the form to edit an instance of your model here.</h1>
<h3>Edit for: <%= @todo.chore %></h3>

<form action="/todos/<%= @todo.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  <!-- <p>
    <input type="text" name="name" value="<%= @todo.chore %>" />
  </p> -->
  <p>
    <input type="text" name="content" value="" />
  </p>
  <input type="submit" value="Edit" />
</form>
