<h1>Insert the form to create a new instance of your model.</h1>

<form action="/todos" method="POST">
  <p>New ToDo: <textarea type="text" name="chore"></textarea></p>
  <input type="submit" value="save" />
</form>
