<h1>Insert the form to create a new instance of your model.</h1>

<form action="/todos" method="POST">
  <p>New ToDo: <input type="text" name="chore"></p>
  <input type="submit" value="save" />
</form>
