<h1>Create A new ToDo</h1>

<form action="/todos" method="POST">
  <p>New ToDo: <textarea type="text" name="chore" placeholder="New Todo"></textarea></p>
  <input type="submit" value="save" />
</form>
