<h1>This is the show page for an individual instance of your model.</h1>
<p><%= @todo.chore %></p>

<button>
  <a href="/todos/<%= @todo.id %>/edit">Edit</a>
</button>

<p>
  <form action="/todos/<%= @todo.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete todo">
  </form>
</p>
