<h1>Delete your ToDo</h1>
<h3>Delete for: <h2 class="confirm"><%= @todo.chore %></h2></h3>

<p>
  <form action="/todos/<%= @todo.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</p>
