<h1>Welcome to Sinatra ToDo application</h1>
<br />

<!-- <p>
<label for="signup"><a href="/signup">Sign-Up</a></label>
</p>
<br />

<p>
<label for="signin"><a href="/signin">Sign-In</a></label>
</p>
<br /> -->

<!-- <p>
<label for="signout"><a href="/signout">Sign-Out</a></label>
</p>
<br /> -->
